---
---
@import "{{site.theme}}";

// -------------------------
// -- GENERAL WEBSITE CSS --
// -------------------------

$original-sparc-orange: #F79522;
$sparc-orange: #E87E00;
$sparc-blue: #448BB1;

$body-bg-color: #EAEAEA;
$navbar-bg-color: $sparc-orange;
//$navbar-bg-color: $body-bg-color;
$content-bg-color: #FAFAFA;
$nav-url-color: $content-bg-color;

$banner-bg-color: #888;
$site-title-size: 45px;

//$nav-url-color: #111;

// $wrapper-padding-percent comes from dividing $wrapper-padding / $on-palm
// calc() does not support unitless division
// SASS does not support min of % and px
$wrapper-padding: 48px;
$wrapper-padding-percent: 8%;
$max-banner-height: 320px;
$wrapper-width: calc(3 * #{$max-banner-height});


// General Design


@font-face {
	font-family: "Lora";
	src: url("../assets/fonts/lora/Lora-Regular.ttf");
}

@font-face {
	font-family: "Lora";
	src: url("../assets/fonts/lora/Lora-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Lora";
	src: url("../assets/fonts/lora/Lora-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "SiteTitleFont";
	src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
	font-family: "OpenSans";
	src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@mixin vertical-center() {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

strong {
	font-weight: bold;
	font-family: 'Lora', serif;
}

body {
	background-color: $body-bg-color;
	color: $text-color;
	font-family: 'Lora', serif;
}

blockquote {
	color: $text-color; 
	font-size: $base-font-size;
}

h1, h2, h3, h4, h5 {
	font-family: "OpenSans", sans-serif;
}

a:link,
a:visited,
a:active, 
a:hover {
	color: #DA8014;
	color: $sparc-orange;
}

a:hover {
	text-decoration: none;
	color: $sparc-orange;
	color: #E79029;
}

.wrapper {
	max-width: -webkit-calc(#{$wrapper-width} - (2 * #{$wrapper-padding}));
	max-width:    -moz-calc(#{$wrapper-width} - (2 * #{$wrapper-padding}));
	max-width:         calc(#{$wrapper-width} - (2 * #{$wrapper-padding}));
	padding-left: $wrapper-padding;
	padding-right: $wrapper-padding;
	@include media-query ($on-palm) {
		padding-left: $wrapper-padding-percent;
		padding-right: $wrapper-padding-percent;
	}
}

// Header (navbar + site title)

#sitehead.wrapper {
	height: 70%;
	@include vertical-center();
}

.site-header {
	width: $wrapper-width;
	height: 60px;
	border-top: none;
	border-bottom: none;
	padding: 0px;
	//padding-top: 5px;
	background-color: $navbar-bg-color;
	margin-left: auto;
	margin-right: auto;
}

.site-header .page-link:link,
.site-header .page-link:hover,
.site-header .page-link:visited,
.site-header .page-link:active, {
	font-size: 15px;
	font-family: "OpenSans", sans-serif;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	color: $nav-url-color;
}

.site-title,
.site-title:link,
.site-title:visited,
.site-title a:active,
.site-title a:hover {
	font-family: 'SiteTitleFont', Helvetica;  // Consider making this an image
	float: none;
	color: $nav-url-color;;
	font-size: $site-title-size;
}

.site-nav {
  @include media-query($on-palm) {
	background-color: #222;
	border: 1px solid $grey-color-dark;	

	.menu-icon {
	  > svg {
		// Hamburger line fill
		fill: $nav-url-color;
      }
	}
  };
  @include vertical-center();
}

.site-nav .page-link-wrapper:not(:last-child) {
	margin-right: 16px;
	@include media-query ($on-palm) {
		margin-right: 0px;
	}
}

.page-link-wrapper {
	padding-left: 0px;
	padding-right: 0px;
	display: inline;
}

#site-title-logo-wrapper {
    @include vertical-center();
	float: left;
}

#site-logo-img {
	height: $site-title-size;
	height: 42px;
	vertical-align: middle;
}

.current-page {
	border-bottom: 4px solid $sparc-blue;
	padding-bottom: 5px;
}

// Banner 

#banner-header,
.page-content {
	background-color: $body-bg-color;
}

#banner {
	max-width: $wrapper-width;
	max-height: $max-banner-height;
	height: 33.33vw;
	background-color: $body-bg-color;
	background-size: contain;
}

#banner-header > .wrapper {
	$banner-border-color: #ccc;
	padding: 0px;
	border-left: 1px solid $banner-border-color; 
	border-right: 1px solid $banner-border-color; 
}

// Page content

.page-content {
	//background-color: $body-bg-color;
	//background: url("/assets/icons/what-the-hex.png") repeat;
	padding-top: 0px;
}

.page-content > .wrapper {
	$page-content-border-color: #ccc;
	background-color: $content-bg-color;
	padding-top: 50px;
	padding-bottom: 30px;
	border: 1px solid $page-content-border-color;
}


// -----------------------
// -- PAGE SPECIFIC CSS --
// -----------------------



// Instructor 

table#instructor_table td, 
table#instructor_table {
	border: none;
}

table#instructor_table tr.instructor_table_row {
	background-color: $content-bg-color;
}

.instructor_img_td {
	width: 200px;
}

img.instructor_img {
	width: 95%;
}

table#instructor_table td {
	vertical-align: top;
}

// Projects

.logo-banner {
	display: block;
	border: 1px solid #333;
	margin-left: auto;
	margin-right: auto;
}

// Testimonials

.testimonial_author {
	//text-align: right;
	font-style: italic;
}

// Video 

.youtubevideo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
