---
---
@import "{{site.theme}}";

// -------------------------
// -- GENERAL WEBSITE CSS --
// -------------------------

$body-bg-color: #ddd;
$navbar-bg-color: #142842;
$content-bg-color: #f0f0f0;
//$navbar-bg-color: #324C63;
$banner-bg-color: #888;

$banner-height: 320px;
$wrapper-width: calc(3 * #{$banner-height});
$wrapper-padding: 50px;
$site-title-size: 45px;

$url-color-neg: #EEE;

// General Design


@font-face {
	font-family: "Lora";
	src: url("../assets/fonts/lora/Lora-Regular.ttf");
}

@font-face {
	font-family: "Lora";
	src: url("../assets/fonts/lora/Lora-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Lora";
	src: url("../assets/fonts/lora/Lora-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "SiteTitleFont";
	src: url("../assets/fonts/MuseoSans.ttf");
}

strong {
	font-weight: bold;
	font-family: 'Lora', serif;
}

body {
	font-family: 'Lora', serif;
}

a:link,
a:visited,
a:active, 
a:hover {
	color: #144298;
}

a:hover {
	text-decoration: none;
	color: #2163D7;
}

.wrapper {
	max-width: calc(#{$wrapper-width} - (2 * #{$wrapper-padding}));
	padding-left: $wrapper-padding;
	padding-right: $wrapper-padding;
}

// Header (navbar + site title)

.site-header {
	border-top: none;
	padding-top: 5px;
	background-color: $navbar-bg-color;
}

.site-header .page-link {
	color: $url-color-neg;
}

.site-title,
.site-title:visited {
	font-family: 'SiteTitleFont';  // Consider making this an image
	float: none;
	color: $url-color-neg;
	font-size: $site-title-size;
}

#site-title-logo-wrapper {
	float: left;
}

#site-logo-img {
	height: $site-title-size;
	height: 42px;
	vertical-align: middle;
}

// Banner 

#banner-header {
	background-color: $body-bg-color;
}

#banner {
	max-width: $wrapper-width;
	height: $banner-height;
	background-color: $banner-bg-color;
}

#banner-header > .wrapper {
	padding: 0px;
}

// Page content

.page-content {
	background-color: $body-bg-color;
	padding-top: 0px;
}

.page-content > .wrapper {
	background-color: $content-bg-color;
	padding-top: 50px;
}


// -----------------------
// -- PAGE SPECIFIC CSS --
// -----------------------



// Instructor 

table#instructor_table td, 
table#instructor_table {
	border: none;
}

table#instructor_table tr.instructor_table_row {
	background-color: #fdfdfd;
}

.instructor_img_td {
	width: 200px;
}

img.instructor_img {
	width: 95%;
}

table#instructor_table td {
	vertical-align: top;
}

// Projects

.logo-banner {
	display: block;
	border: 1px solid #333;
	margin-left: auto;
	margin-right: auto;
}

// Testimonials

.testimonial_author {
	//text-align: right;
	font-style: italic;
}

// Video 

.youtubevideo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
