---
---
@import "{{site.theme}}";

// -------------------------
// -- GENERAL WEBSITE CSS --
// -------------------------

$main-bg-color: #CCC;
$banner-height: 320px;
$wrapper-width: calc(3 * #{$banner-height});
$wrapper-padding: 50px;

// General Design

@font-face {
	font-family: "Lora";
	src: url("../assets/fonts/lora/Lora-Regular.ttf");
}

@font-face {
	font-family: "Lora-Bold";
	src: url("../assets/fonts/lora/Lora-Bold.ttf");
}

strong {
	font-weight: bold;
	font-family: 'Lora-Bold', serif;
}

body {
	font-family: 'Lora', serif;
}

.wrapper {
	max-width: calc(#{$wrapper-width} - (2 * #{$wrapper-padding}));
	padding-left: $wrapper-padding;
	padding-right: $wrapper-padding;
}

// Header (navbar + site title)

.site-header {
	border-top: none;
}

// Banner 

#banner-header {
	background-color: $main-bg-color;
}

#banner {
	max-width: $wrapper-width;
	border: 1px solid black;
	height: $banner-height;
	background-color: #122448;
}

#banner-header > .wrapper {
	padding: 0px;
}

// Page content

.page-content {
	background-color: $main-bg-color;
	padding-top: 0px;
}

.page-content > .wrapper {
	background-color: #EEE;
	padding-top: 50px;
}


// -----------------------
// -- PAGE SPECIFIC CSS --
// -----------------------



// Instructor 

table#instructor_table td, 
table#instructor_table {
	border: none;
}

table#instructor_table tr.instructor_table_row {
	background-color: #fdfdfd;
}

.instructor_img_td {
	width: 200px;
}

img.instructor_img {
	width: 95%;
}

table#instructor_table td {
	vertical-align: top;
}

// Projects

.logo-banner {
	display: block;
	border: 1px solid #333;
	margin-left: auto;
	margin-right: auto;
}

// Testimonials

.testimonial_author {
	//text-align: right;
	font-style: italic;
}

// Video 

.youtubevideo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
